{% extends 'base.html' %}


{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Edit Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">
               Password Zone
            </p>
        </div>
    </div>
</header>
    <br><br>
<div class="container">
<div class="row">
    <center>
        <form method="POST" action="{% url 'update_password' %}">
            {% csrf_token %}
                {{ form.as_p }}
            <br>             <br>

  <button type="submit" class="btn btn-secondary">Edit Password</button>
      </form>
    </center>
</div>
</div>
{% endblock %}
    <br><br>
    <br><br>
    <br><br>
