{% extends 'base.html' %}


{% block content %}

    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Edit Profile</h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    You Can Enter New Information
                </p>
            </div>
        </div>
    </header>
    <br><br>
    <div class="container">
        <div class="row">
            <center>
                <form method="POST" action="{% url 'update_user' %}">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <br> <br>

                    <button type="submit" class="btn btn-secondary">Edit</button>
                </form>
                <br>
                <a href="{% url 'update_password' %}" class="btn btn-warning">Edit Password</a>
            </center>
        </div>
    </div>
{% endblock %}
<br><br>
<br><br>
<br><br>
